body {
    margin: 0px;
    width: 100%;
}

.main img {
    width: 100%;
}

h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    color: #F5D3A2;
    font-size: 128px;
    position: absolute;
    top: 700px;
    left: 55%;
    text-align: center;
    transform: translate(-50%, -50%);

}

.main {
    background-color: #A68156;
    margin: 0px;
    padding: 50px;
    width: 100%;
}

.main p {
    color: #F5D3A2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;

    padding-left: 156px;
    padding-right: 156px;
}

.rankings {
    background-color: #F5D3A2;
    padding: 50px;
    width: 100%;
}

#img1 {
    margin-left: 0px;
}

#img2 {
    margin-left: 429px;
}

#img3 {
    margin-left: 859px;
}

#sacred_grounds {
    transform: rotate(90deg);
    margin-left: -700px;
    margin-top: 700px;
}

#cafe_revielle {
    margin-top: -700px;
    margin-left: 1100px;
}

.rankings h2 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    color: #664F35;
    font-size: 100px;
}

.rankings a {
    color: #664F35;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 32px;;
}

.rankings a:hover {
    text-decoration: underline;
}

.map {
    background-color: #A68156;
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

.map iframe {
    width: 100%;
}

.aboutMe {
    background-color: #664F35;
    width: 100%;
    padding: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    gap: 50px;

    margin-bottom: 0px;
}

.aboutMe h2 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    color: #CC9E6A;
    font-size: 100px;
}

.aboutMe p {
    color: #CC9E6A;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    
}