h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    color: #664F35;
    font-size: 128px;
    margin-left: 172px;
}

body {
    background-color: #f5d2a28a;
}

p {
    color: #32271A;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
}

#studyspot {
    height: 797px;
    width: 705px;
    margin-left: 735px;
    margin-top: -600px;
}

#couch {
    margin-left: 156px;
    margin-top: -150px;
}

#paragraphone {
    margin-left: 774px;
    margin-top: -545px;
    margin-right: 156px;
}

#paragraphtwo {
    margin-left: 774px;
    margin-top: 45px;
    margin-right: 156px;
}

#foodboard {
    margin-left: 15px;
    margin-top: -550px;

}

#tables {
    margin-left: 804px;
    margin-top: -200px;
}

#paragraphthree {
    margin-left: 172px;
    margin-top: -450px;
    margin-right: 804px;
}

/* Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #32271A;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    text-decoration: underline;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

h2 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    color: #664F35;
    font-size: 100px;
    margin-left: 172px;
}